/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
}

/* Player Card */
.player {
    width: 320px;
    background: #222;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 15px 30px rgba(0,0,0,0.5);
    text-align: center;
}

/* Album Art */
.album img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: transform 0.5s;
}

.album img:hover {
    transform: scale(1.05);
}

/* Song Info */
.song-info h2 {
    font-size: 20px;
}

.song-info p {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 15px;
}

/* Progress Bar */
.progress-container {
    width: 100%;
    height: 6px;
    background: #444;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress {
    width: 40%;
    height: 100%;
    background: #04e704;
    transition: width 0.4s;
}

.progress-container:hover .progress {
    width: 70%;
}

/* Time */
.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #aaa;
    margin-bottom: 15px;
}

/* Controls */
.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.control-btn {
    background: none;
    border: none;
    color: #f6f7f6;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

.control-btn:hover {
    transform: scale(1.2);
    color: #0be74d;
}

/* Play Button */
.play {
    width: 50px;
    height: 45px;
    border-radius: 60%;
    font-size: 22px;
}

.play:hover {
    background: #221f1f;
}
